<ion-navbar primary *navbar>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Notes</ion-title>
  <ion-buttons end>
    <button (click)="picNote()">
      <ion-icon name="camera"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>


<ion-content class="getting-started">

  <ion-list>
    <ion-item-sliding *ngFor="let note of notes">
      <ion-item (click)="showSheet(note.doc.title, note.doc.body)" >
        <h2 *ngIf="note.doc.title">{{note.doc.title}}</h2>
        <p *ngIf="note.doc.title">{{note.doc.body}}</p>
        <img id="notePic" *ngIf="note.doc.pic" src="{{note.doc.pic}}">
      </ion-item>
      <ion-item-options>
        <button favorite (click)="edit(note.doc.title, note.doc.body)">
        <ion-icon name="create"></ion-icon>
      </button>
        <button like (click)="starNote(note.doc.body)">
        <ion-icon style="color: white;" name="star"></ion-icon>
      </button>
        <button danger (click)="remove(note.doc.body)">
        <ion-icon name="trash"></ion-icon>
      </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <button id="addNoteButton" (click)="addNote()" secondary fab fab-fixed fab-right fab-bottom>
    <ion-icon name="add"></ion-icon>
  </button>
</ion-content>